<div class="main-content">
  <form nz-form nzLayout="vertical">
    <h3 class="content-title">Franchise Commission Report</h3>
    <div class="fltrcolor">
      <div nz-row nzGutter="8">
        <div nz-col nzMd="6" nzLg="2">
          <nz-form-item>
            <nz-form-label class="boldinglabel" nzRequired>Year</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Year" name="Year"
                [(ngModel)]="model.year" nzDropdownMatchSelectWidth="true" (ngModelChange)="reset_tabledata()">
                <nz-option *ngFor="let item of year" [nzLabel]="item.Description" [nzValue]="item.Code" required="" >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="6" nzLg="2">
          <nz-form-item>
            <nz-form-label class="boldinglabel" nzRequired>Month</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Month" name="Month"
                [(ngModel)]="model.month" nzDropdownMatchSelectWidth="true" (ngModelChange)="reset_tabledata()"> 
                <nz-option *ngFor="let item of mnth" [nzLabel]="item.Description" [nzValue]="item.Code" required="">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="4">
          
          <nz-form-item>
            <nz-form-label class="boldinglabel">Insure Type</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Select Insurance Company" name="type" [(ngModel)]="model.type"  (ngModelChange)="getInsuranceCompany()"
                nzDropdownMatchSelectWidth="true">
                <!-- <nz-option *ngFor="let item of rpttype" [nzLabel]="item.Description" [nzValue]="item.Code">
                </nz-option> -->
                <nz-option *ngFor="let item of type" [nzLabel]="item.Type"
                [nzValue]="item.Id">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
      </div>
        <div nz-col nzMd="12" nzLg="5">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Insurance Company</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Select Insurance Company" name="insurance company"
                [(ngModel)]="model.insurancecompany" nzDropdownMatchSelectWidth="true" (ngModelChange)="reset_tabledata()">
                <nz-option *ngFor="let item of insCompList" [nzLabel]="item.Description" [nzValue]="item.Code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
    
        <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Policy No</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Policy No"  
                [(ngModel)]="model.Policy" type="text" name="Policy Name">
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">PAN No</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="PAN"  maxlength="10"
                [(ngModel)]="model.PAN" type="text" name="PAN ">
            </nz-form-control>
          </nz-form-item>
        </div> -->
        <div nz-col nzMd="6" nzLg="6">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Product Category</nz-form-label>
            <nz-form-control>
              <!-- {{model.state|json}} -->
              <master-find-ctrl [options]="productcategoryFindopt" [(ngModel)]="model.pdtCategory" name="pdtCategory" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
        <div nz-row nzGutter="8">
        <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">State</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="stateFindopt" [(ngModel)]="model.state" name="State" (ngModelChange)="sortstate($event)"></master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Region</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="RegionFindopt" [(ngModel)]="model.Region" name="Region" (ngModelChange)="onchange_reg($event)"></master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Location</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="locationFindopt" [(ngModel)]="model.Location" name="Location" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
       
        <div nz-col nzMd="6" nzLg="5" >

          <nz-form-item>
            <nz-form-label class="boldinglabel">Report Type:</nz-form-label>
            <nz-form-control>
              <nz-radio-group [(ngModel)]="model.sORd"  name="sord" (ngModelChange)="reset_tabledata()">
                <label class="boldinglabel" nz-radio nzValue="S">Summary</label>
                <label class="boldinglabel" nz-radio nzValue="D">Detail</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </form>

  <nz-table style="padding-top: 10px;" class="tranTbl table-responsive table-themed" #Summary [nzData]="data"  
  [nzShowPagination]="data.length>15" *ngIf="policyrpt.length" >
  <thead>
    <tr>
      <th *ngFor="let header of policyrpt;let i = index">
        {{header}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of Summary.data" >
      <td *ngFor="let header of policyrpt" 
        >{{data[header]}}
   
      </td>
    </tr>
  </tbody>
 
</nz-table >
    
<!-- tree -->
<nz-table  style="padding-top: 10px;" [nzScroll]="{x: '220px' }" #expandTable [nzScroll]="{ y: '440px' }" *ngIf="treeData.length"
class="tranTbl table-responsive table-themed" nzPageSize="15" [nzHideOnSinglePage]=true nzSize="small"
[nzData]="treeData">
<thead>
  <tr style="color: #710505d9 !important">
    <th  nzWidth="300px"  >Name</th>
    <!-- <th class="text-center" nzWidth="100px"  >No. Of Policies</th> -->
    <th class="text-right" nzWidth="70px" >New Business <br> Premium(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >Renewal Business <br> Premium(&#8377;)</th>
    <th class="text-right"nzWidth="70px"  >New Business <br> Commission(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >Renewal Business<br> Commission(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >GST(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >Commission<br> Recovery(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >Net commission(&#8377;)</th>
    <th class="text-right" nzWidth="70px" >Commission Payable <br>To Franchisee(&#8377;)</th>

  </tr>
</thead>
<tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr (click)="showPolicyDashboard(item)" *ngIf="item.parent && item.parent.expand || !item.parent">
        <td  [nzIndentSize]="item.level * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key],item,$event)"
          [ngClass]="{'treeName' :setClickStyle(item)}"  >{{item.NAME}}
        </td>
        <!-- <td class="text-center"  >{{item.NoOfpolicy}}</td> -->
        <td class="text-right"   >{{item.NEW_BUSINESSPremium|number}}</td>
        <td class="text-right"  >{{item.RENEWAL_BUSINESSPremium|number}}</td>
        <td class="text-right ">{{item.NEW_BUSINESS_Commission|number}}</td>
        <td class="text-right"  >{{item.RENEWAL_BUSINESS_Commission|number}}</td>
        <td class="text-right" >{{item.GST|number}}</td>
        <td class="text-right " >{{item.CommissionRecovery|number}}</td>
        <td class="text-right"  >{{item.Netcommission|number}}</td>
        <td class="text-right"  >{{item.CommissionPayableToFranchisee|number}}</td>

      </tr>
    </ng-container>
  </ng-container>
</tbody>
</nz-table>
</div>
<!-- 
<nz-month-picker [nzRenderExtraFooter]="footerRender" [(ngModel)]="date" nzPlaceHolder="Select month"></nz-month-picker>
{{date}} -->

<form-handler (onExportExcel)="exportData()" (onPreview)="preview()" (onReset)="reset()"></form-handler>
<app-loader *ngIf="isSpinning"></app-loader>