<div class="main-content">
  <form nz-form nzLayout="vertical">
    <h3 class="content-title">Insurance Companywise Reports</h3>
    <div class="fltrcolor">
      <div nz-row nzGutter="8">
        <div nz-col nzMd="12" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Report Type</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Select Report Type" name="Report Type" (ngModelChange)="makenull()" [(ngModel)]="model.ReportType"(ngModelChange)="reset_tabledata()"
                nzDropdownMatchSelectWidth="true">
                <nz-option *ngFor="let item of rpttype" [nzLabel]="item.Description" [nzValue]="item.Code"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
            <div nz-col nzMd="6" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">From Date</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="dd-MM-yyyy" [(ngModel)]="model.fd" name="Date" (ngModelChange)="reset_tabledata()"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="6" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">To Date</nz-form-label>
            <nz-form-control>
              <nz-date-picker nzFormat="dd-MM-yyyy" [(ngModel)]="model.td" name="Date1" (ngModelChange)="reset_tabledata()"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="5">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Insurance Company</nz-form-label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Select Insurance Company" name="insurance company"
                [(ngModel)]="model.insurancecompany" nzDropdownMatchSelectWidth="true" (ngModelChange)="getcategory()">
                <nz-option *ngFor="let item of insCompList" [nzLabel]="item.Description" [nzValue]="item.Code">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="4">
          <nz-form-item>
            <nz-form-label class="boldinglabel">State</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="stateFindopt" [(ngModel)]="model.state" name="State" (ngModelChange)="sortstate($event)"></master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Region</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="RegionFindopt" [(ngModel)]="model.Region" name="Region" (ngModelChange)="onchange_reg($event)"></master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Location</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="locationFindopt" [(ngModel)]="model.Location" name="Location" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
       
      </div>
      <div nz-row nzGutter="10">
   
        <div nz-col nzMd="12" nzLg="6">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Employee</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="EmployeeFindopt" [(ngModel)]="model.Employee" name="Employee" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
         <div nz-col nzMd="12" nzLg="6">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Product Category</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="ProductCategoryFindopt" [(ngModel)]="model.ProductCategory" name="ProductCategory" (ngModelChange)="getproduct()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="6">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Product</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="ProductFindopt" [(ngModel)]="model.Product" name="Product" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Sp Code</nz-form-label>
            <nz-form-control>
              <master-find-ctrl [options]="SpFindopt" [(ngModel)]="model.sp" name="sp" (ngModelChange)="reset_tabledata()">
              </master-find-ctrl>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="4" nzLg="3">
          <nz-form-item>
            <nz-form-label class="boldinglabel">Policy No</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Policy No" 
                [(ngModel)]="model.Policy" type="text" name="Policy Name" (ngModelChange)="reset_tabledata()">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
  </form>

  <nz-table #expandTable [nzScroll]="{ y: '440px' }" [hidden]="treeData.length==0"
    class="tranTbl table-responsive table-themed" [nzShowPagination]=false [nzData]="treeData" *ngIf="this.model.ReportType !='Comm'">
    <thead>
      <tr style="color: #710505d9 !important">
        <th nzWidth="40%">Name</th>
        <th class="text-center" nzWidth="15%">No. Of Policies</th>
        <th class="text-right" nzWidth="15%">Premium(&#8377;)</th>
        <th class="text-right" nzWidth="15%">Annualized Premium(&#8377;)</th>
       <th class="text-right" nzWidth="15%">Estimated Commission(&#8377;)</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
          <tr (click)="showModal(item)" *ngIf="item.parent && item.parent.expand || !item.parent">
            <td [nzIndentSize]="item.level * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.key],item,$event)"
              [ngClass]="{'treeName' :setClickStyle(item)}"
              >{{item.Name}}
            </td>
            <td class="text-center">{{item.TotalApplication}}</td>
            <td class="text-right">{{item.Premium_Collected |number}}</td>
            <td class="text-right">{{item.Annualised_Premium |number}}</td>
            <td class="text-right">{{item.EstimatedCommission |number}}</td> 

          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>

 

  <nz-table [nzScroll]="{x: '2200px' }" #expandTable [nzScroll]="{ y: '440px' }"  [hidden]="treeData.length==0"  *ngIf="this.model.ReportType =='Comm'"
class="tranTbl table-responsive table-themed" nzPageSize="15" [nzHideOnSinglePage]=true nzSize="small" 
[nzData]="treeData">
<thead>

     
      
   
<tr>
  <th    colspan="1" >
   
  </th> 
  <th class="text-center" style="background-color: #fff70033 ;font-size: large;font-weight: bold;"  colspan="6" >
      LIFE
    </th>
  <th class="text-center" style="background-color: #0080514a ;font-size: large;font-weight: bold;"  colspan="6" >
        HEALTH
      </th>
      <th class="text-center" style="background-color: #d07e1947 ;font-size: large;font-weight: bold;"  colspan="6" >
          GENERAL
        </th>
</tr> 
    
  <tr style="color: #710505d9 !important ">
    <th  nzWidth="400px">  Name</th>
 
    <th class="text-center" nzWidth="100px" style="background-color: #fff70033 ;"  >No. Of Policies</th>
    <th class="text-right" nzWidth="100px" style="background-color: #fff70033; ">Premium Collected(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #fff70033;">Annualized Premium(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #fff70033;">New_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #fff70033;">Renewal_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #fff70033;">Commission(&#8377;)</th>

    <th class="text-center" nzWidth="100px" style="background-color: #0080514a;" >No. Of Policies</th>
    <th class="text-right"  nzWidth="100px" style="background-color: #0080514a;;">Premium Collected(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #0080514a;">Annualized Premium(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #0080514a;">New_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #0080514a;">Renewal_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #0080514a;">Commission(&#8377;)</th>

    <th class="text-center" nzWidth="100px" style="background-color: #d07e1947;"  >No. Of Policies</th>
    <th class="text-right" nzWidth="100px" style="background-color: #d07e1947; ">Premium Collected(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #d07e1947;">Annualized Premium(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #d07e1947;">New_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #d07e1947;">Renewal_Business(&#8377;)</th>
    <th class="text-right" nzWidth="100px" style="background-color: #d07e1947;">Commission(&#8377;)</th>
  <tr>

</thead>
<tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr  *ngIf="item.parent && item.parent.expand || !item.parent">
        <td  [nzIndentSize]="item.level * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key],item,$event)"
          [ngClass]="{'treeName' :setClickStyle(item)}"   >{{item.NAME}}
        </td>
        <td class="text-center"   style="background-color: #fff70033"   >{{item.LNoOfpolicy}}</td>
        <td class="text-right"  style="background-color: #fff70033"  >{{item.LPremiumCollected |number}}</td>
        <td class="text-right"style="background-color: #fff70033"  >{{item.LAnnualisedpremium |number}}</td>
        <td class="text-right" style="background-color: #fff70033" >{{item.LNEW_BUSINESS |number}}</td>
        <td class="text-right" style="background-color: #fff70033"  >{{item.LRENEWAL_BUSINESS |number}}</td>
        <td class="text-right" style="background-color: #fff70033"  >{{item.LCommission |number}}</td>

        <td class="text-center" style="background-color: #0080514a"  >{{item.HNoOfpolicy}}</td>
        <td class="text-right"  style="background-color: #0080514a" >{{item.HPremiumCollected |number}}</td>
        <td class="text-right" style="background-color: #0080514a">{{item.HAnnualisedpremium |number}}</td>
        <td class="text-right" style="background-color: #0080514a" >{{item.HNEW_BUSINESS |number}}</td>
        <td class="text-right" style="background-color: #0080514a" >{{item.HRENEWAL_BUSINESS |number}}</td>
        <td class="text-right" style="background-color: #0080514a" >{{item.HCommission |number}}</td>

        <td class="text-center" style="background-color: #d07e1947"   >{{item.GNoOfpolicy}}</td>
        <td class="text-right"  style="background-color: #d07e1947"  >{{item.GPremiumCollected |number}}</td>
        <td class="text-right"style="background-color: #d07e1947"  >{{item.GAnnualisedpremium |number}}</td>
        <td class="text-right" style="background-color: #d07e1947" >{{item.GNEW_BUSINESS |number}}</td>
        <td class="text-right" style="background-color: #d07e1947"  >{{item.GRENEWAL_BUSINESS |number}}</td>
        <td class="text-right"  style="background-color: #d07e1947" >{{item.GCommission |number}}</td>

      </tr>
    </ng-container>
  </ng-container>
</tbody>
</nz-table>





   <nz-modal nzWidth="1000px" [(nzVisible)]="isVisible" nzTitle="Product Details {{title}}" [nzOkText]="null"
    (nzOnCancel)="handleCancel()" nzCancelText="Close">
  <!--   <nz-table class="tranTbl table-responsive table-themed" #branchTable [nzData]="ProductdetailData"
      [nzShowPagination]="true">
      <thead>
        <tr>
          <th *ngFor="let header of ProductdetailDataHeader;let i = index"  [ngClass]="{'text-right':setStyles(header)}">
            {{header}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of branchTable.data">
          <td *ngFor="let header of ProductdetailDataHeader" 
          style="cursor: pointer"(click)="showPolicyDashboard(data,header)"
          [ngClass]="{'text-right':setStyle(header)}"
           
          >{{data[header]}}
          </td>
        </tr>
      </tbody>
    </nz-table> -->


    <nz-table [nzScroll]="{ x: '1200px' }" class="tranTbl table-responsive table-themed"  *ngIf="ProductdetailData.length" #branchTable2 [nzData]="ProductdetailData">
        <thead>
            <tr>
                <th *ngFor="let header of ProductdetailDataHeader;let i = index" [ngClass]="{'text-right':setStyles(header)}">
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of branchTable2.data">
                <td *ngFor="let header of ProductdetailDataHeader" style="cursor: pointer;" (click)="showPolicyDashboard(data,header)" [ngClass]="{'text-right':setStyles(header)}">{{data[header]}}
                </td>
            </tr>
        </tbody>
    </nz-table>
  </nz-modal>

</div>
<form-handler (onPreview)="preview()" (onReset)="resetForm()"></form-handler>
<app-loader *ngIf="isSpinning"></app-loader>
